footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: #aca8b1;
  width: 100%;

}
.foot{
  width: 20%;
}
.foot div{
  display: flex;
  flex-direction: column;
}
