nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: blueviolet;
  width: 100%;

}
.logo {
  align-content: left;
  font-size: 70px;
}
.opciones{
  justify-content: space-around;
  padding-right: 45px;
  width: 50%;
  display: flex;
}
.opciones a{
  color: black;

}
